footer {
  position: sticky;
  background-color: rgba(255, 255, 255, 0.863);
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  color: black;
}
footer a:hover {
  border-bottom: 1px solid #0000a0;
}

@media (max-width: 900px) {
  footer .logo {
    display: none;
  }
  footer .nav {
    display: none;
  }
  footer {
    padding: 10px 0;
  }
}