.admin-home .nav-admin {
  display: flex;
}
.admin-home .nav-admin ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 !important;
}
.admin-home .link {
  display: flex;
  flex-direction: column;
  color: white !important;
  align-items: center;
  padding: 30px;
  font-weight: 500;
  transition: all 0.3s !important;
}
.admin-home .link i {
  font-size: 25px;
}
.admin-home .link:hover {
  background-color: white;
  color: #282c34 !important;
}

@media screen and (max-width: 900px) {
  .no-mobile {
    display: none !important;
  }
}
