.wrap {
  margin-bottom: 150px;;
}
.wrap-site a {
  width: 33%;
  background-color: #fdfdfd;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightblue;
}

.wrap-site a div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap-site a:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

.wrap-site a div i {
  font-size: 5rem;
  color: #192969;
}.p {
  font-weight: 500;
  color: #192969;
}

.span {
  font-size: 0.8rem;
  color: grey;
}