.wrap {
  margin-bottom: 150px;
}

.card-body {
  padding: 15px;
  border-radius: 5px;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 5px lightblue;
}

.card-body:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

.wrap-site a div i {
  font-size: 5rem;
  color: #192969;
}
.p {
  font-weight: 500;
  color: #192969;
}

.span {
  font-size: 0.8rem;
  color: grey;
}
@media (max-width: 900px) {
  .wrap-site {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .wrap-site a {
    margin-top: 15px;
  }
}
