.wrap {
  margin-bottom: 150px;
}
.denuncias-index {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}
.denuncias-ouvidoria {
  flex-direction: row !important;
  justify-content: center !important;
}
.denuncias-ouvidoria div {
  margin: 10px;
 width: 25%;
}

.denuncias-ouvidoria div a {
  flex-direction: column;
  margin: 10px;
  padding: 30px 25px !important;
}
.denuncias-ouvidoria p {
  margin-top: 20px !important;
  font-size: 1rem;
}
.denuncias-index div a {
  display: flex;
  background-color: aliceblue;
  margin: 5px 0;
  padding: 10px 30px;
  align-items: center;
  border-radius: 10px;
  color: #a4d3ff;
  transition: all 0.8s;
}

.denuncias-index div a:hover {
  background-color: #ceefff;
  transform: scale(1.05, 1.05);
}

.denuncias-index p {
  margin: 0 !important;
  font-weight: 500;
}
.denuncias-index span {
  margin: 0 !important;
  font-size: 0.7rem;
}

.denuncias-index div i {
  background-color: white;
  font-size: 2rem;
  margin: 0 10px;
  padding: 15px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
